@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #3a3a3a;
}

main {
  display: flex;
  width: clamp(60ch, 100vw - 2rem, 100vw - 28rem);
  margin-right: auto;
  margin-left: auto;
}

.left-container {
  background: url(tree.jpg) center;
  background-size: cover;
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.odin {
  height: 8rem;
  width: auto;
}

.logo-name {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 5.5rem;
}

.logo-container {
  margin-top: 23vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(8, 8, 8, 0.5);
}

.credit {
  font-size: 0.9rem;
  color: white;
  align-self: center;
  padding-bottom: 10px;
}

a {
  color: white;
}

a:hover {
  color: #a0b191;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 63%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #f9f9f9;
}

.top {
  padding-left: 45px;
  padding-right: 120px;
  padding-bottom: 60px;
}

.third-line {
  padding-top: 30px;
}

.middle {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 2px lightgray;
}

form {
  display: flex;
  justify-content: flex-start;  
  flex-wrap: wrap;
}

form > span {
  display: flex;
  flex-direction: column;
  padding: 20px 45px 5px 40px;
}

p {
  padding-left: 45px;
  padding-bottom: 5px;
}

label {
  font-size: 0.8rem;
  color: #3a3a3a;
}

input {
  width: 300px;
  box-sizing: border-box;
  border: solid 1px #e5e7eb;
  border-radius: 5px;
  padding: 6px;
  font-size: 1rem;
}

input:focus {
  border: 1px solid #5275DE;
  outline: none;
}

.error {
  border: 1px solid #d55c5f;
}

.error-message {
  color: #d55c5f;
  font-size: 0.8rem;
}

.bottom {
  padding-top: 30px;
  padding-left: 45px;
}

button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 60px;
  cursor: pointer;
  background-color: #596d48;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px 3px lightgray;
}

button:hover {
  background-color: #69864f;
  box-shadow: 5px 5px 10px lightgray;
  transform: 0.7s;
}

button:active {
  background-color: #30471c;
  transform: translateY(2px);
}

.bottom div {
  padding-top: 30px;
  font-size: 1.2rem;
  font-weight: normal;
}

.bottom div a {
  color: #3a3a3a;
  text-decoration: none;
}

.bottom div a:hover {
  color: #596d48;
}